:root {
    --background-color: #f2f2f2;
    --text-color: #333;
    --input-border-color: #007bff;
    --button-background-color: #007bff;
    --button-text-color: #fff;
}

/* Dark Mode */
.dark-mode {
    --background-color: #222;
    --text-color: #222;
    --input-border-color: #222;
    --button-background-color: #222;
    --button-text-color: #222;

}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 32px;
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.input-group {
    display: flex;
    margin-bottom: 20px;
    animation: slideIn 0.5s ease forwards;
}

.input-group input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #007bff;
    font-size: 16px;
    outline: none;
}

.input-group button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.input-group button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
    animation: slideIn 0.5s ease forwards;
}

li {
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease;
}

li:last-child {
    border-bottom: none;
}

li:hover {
    background-color: #f9f9f9;
}

button.delete {
    padding: 5px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.delete:hover {
    background-color: #c82333;
}

.progress {
    text-align: center;
    color: #777;
    margin-bottom: 20px;
    font-size: 18px;
    animation: slideIn 0.5s ease forwards;
}

.button-group {
    text-align: center;
    animation: slideIn 0.5s ease forwards;
}

.button-group button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-group button:hover {
    background-color: #0056b3;
}
